@import
'../../bower_components/bourbon/app/assets/stylesheets/bourbon',
'../../bower_components/neat/app/assets/stylesheets/neat';

@font-face {
  font-family: 'Caferus';
  src: url('../fonts/Caferus-Normal.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Caferus-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Caferus-Normal.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Caferus-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Caferus-Normal.svg#Caferus-Normal') format('svg'); /* Legacy iOS */
}

$yellow: #eede1d;
$purple: #bf2ed0;
$blue: #100ca3;

#ffs-container {
	@include outer-container(910px);
	font-size:16px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;

	h1, h2, h3, h4 {
		font-family: Caferus;
	}

	h1 {
		font-family: Caferus;
		font-size:60px;
		margin: 0;
	}
	h2 {
		font-size:48px;
	}
	h3 {
		font-size:36px;
	}
	h4 {
		font-size: 24px;
	}

	p {
		margin: 0 0 1em;
	}

	img {
		height: auto;
		max-width: 100%;
	}

	a {
		color:$blue;
		text-decoration: none;
	}

	.ffs-buttons {
		a {
			width:50%;
			display:block;
			margin: -20px 0 10px;
			padding: 2px;
			font-size: 12px;
			float:left;
			text-align: center;
			background:rgba($blue, .8);
			color:#fff;
			@include transition(all .2s ease);

			@include media(769px) {
				float:none;
				padding: 5px 0 0 0;
				background: none;
				width:100px;
				margin: 0 auto 10px;
				border: solid 2px #fff;
				font-family: Caferus;
				line-height:25px;
				font-size: 20px;
				&:hover {
					background: #fff;
					color:$blue;
				}
			}
		}
	}

}

.bx-wrapper {
	border:none;
	box-shadow:none;
	img {
		height: auto !important;
	}
}

.bx-viewport {
	background: url(../img/ffs-slider-bg.jpg);
	background-size: cover;
}

#ffs-header {
	margin:0;
	z-index:2;
	position: relative;
	opacity: 0;
	max-height:500px;
	@include transition(all .5s ease);
	&.visible {
		opacity: 1;
	}
	img {
		display: block;
	}
}

#ffs-body, #ffs-footer {
	margin:30px 20px;
	position: relative;
	z-index:100;
}

.ffs-heading {
	position: relative;
	@include transform(rotate(-2deg));
	margin: 1em 0 3em;
	text-align: center;

	h1 {
		color:$purple;
	}
	h2 {
		font-size:36px;
		margin: 0 40px;
		@include media(600px) {
			margin: 0 15%;
		}
	}
	&.ffs-fanreel {
		@include transform(rotate(0));
		img {
			margin: 0 auto 1em;
		}
	}
}

.grunge {
	position: absolute;
	background:transparent url(../img/ffs-grunge.png) 0 0;
	height: 100%;
	width: 100%;
	top:-10px;
	left: 0;
	pointer-events: none;
	opacity: .7;
}

ul.ffs-quad-grid {
	@include outer-container;
	margin: 0;
	padding: 0;
	li {
		margin: 0 0 1em;
		padding: 0;
		position:relative;
		overflow: hidden;
		@include span-columns(6);
		@include media(max-width 599px) {
			&:nth-child(even) {
				margin-right: 0;
			}
		}

		@include media(600px) {
			@include span-columns(3);
			@include omega(4n);

		}
		a {
			position:relative;
			display: block;
			height:100%;
			h4 {
				color:$purple;
			}
		}
		img {
			display: block;
			position:relative;
		}

		h4 {
			margin: .5em 0;
			text-align: center;
		}
		.ffs-overlay {

			@include transition(all .4s ease);

			@include media(769px) {
				position:absolute;
				top: 0;
				left: 0;
				color:#fff;
				background: rgba($blue, .7);
				height:100%;
				width:100%;
				opacity: 0;
			}

			&:hover {
				opacity:1;
			}
			h3 {
				margin: .5em 0;
				font-size:20px !important;
				text-align:center;
				@include media(769px) {
					margin: 0;
					padding:0;
					font-size:32px !important;
				}
			}
		}
	}
}
@include media(769px) {
	.ffs-tableize {
		display:table;
		height:100%;
		.ffs-tablecell {
			display:table-cell;
			vertical-align: middle;
		}
	}
}


#ffs-footer {
	margin: 20px;
	padding: 20px 0;
	text-align: center;
	h3 {
		color:$blue;
	}
}

nav#ffs-menu {
	font-family: Caferus;
	border-top: solid 2px $blue;
	@include clearfix;
	ul {
		margin: 0;
		padding: 0;
		@include clearfix;
	}
	li {
		display:block;
		float:left;
		@include transition(all .3s ease);
		&.selected, &:hover {
			background: $blue;
			a {
				color:#fff;
			}
		}
	}
	a {
		@include transition(all .3s ease);
		display: block;
		padding: 5px 10px;
		color:shade(#fff, 50%);
	}
}

.ffs-curalate-upload {
	padding: 20px;
	h3 {
		color:$blue;
	}
}

.ffs-logo-drop {
	position: absolute;
	top:-5px;
	left:40px;
	height:30px !important;
	width: auto;
	display: none;

	&.visible {
		display: block;
	}

	@include media(min-width 599px) {
		height:60px !important;
		left:12%;
	}
}

#ffs-footer {
	font-size:12px;
}



