html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'Caferus';
  src: url("../fonts/Caferus-Normal.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Caferus-Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/Caferus-Normal.woff") format("woff"), url("../fonts/Caferus-Normal.ttf") format("truetype"), url("../fonts/Caferus-Normal.svg#Caferus-Normal") format("svg");
  /* Legacy iOS */ }
#ffs-container {
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }
  #ffs-container::after {
    clear: both;
    content: "";
    display: table; }
  #ffs-container h1, #ffs-container h2, #ffs-container h3, #ffs-container h4 {
    font-family: Caferus; }
  #ffs-container h1 {
    font-family: Caferus;
    font-size: 60px;
    margin: 0; }
  #ffs-container h2 {
    font-size: 48px; }
  #ffs-container h3 {
    font-size: 36px; }
  #ffs-container h4 {
    font-size: 24px; }
  #ffs-container p {
    margin: 0 0 1em; }
  #ffs-container img {
    height: auto;
    max-width: 100%; }
  #ffs-container a {
    color: #100ca3;
    text-decoration: none; }
  #ffs-container .ffs-buttons a {
    width: 50%;
    display: block;
    margin: -20px 0 10px;
    padding: 2px;
    font-size: 12px;
    float: left;
    text-align: center;
    background: rgba(16, 12, 163, 0.8);
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media screen and (min-width: 769px) {
      #ffs-container .ffs-buttons a {
        float: none;
        padding: 5px 0 0 0;
        background: none;
        width: 100px;
        margin: 0 auto 10px;
        border: solid 2px #fff;
        font-family: Caferus;
        line-height: 25px;
        font-size: 20px; }
        #ffs-container .ffs-buttons a:hover {
          background: #fff;
          color: #100ca3; } }

.bx-wrapper {
  border: none;
  box-shadow: none; }
  .bx-wrapper img {
    height: auto !important; }

.bx-viewport {
  background: url(../img/ffs-slider-bg.jpg);
  background-size: cover; }

#ffs-header {
  margin: 0;
  z-index: 2;
  position: relative;
  opacity: 0;
  max-height: 500px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  #ffs-header.visible {
    opacity: 1; }
  #ffs-header img {
    display: block; }

#ffs-body, #ffs-footer {
  margin: 30px 20px;
  position: relative;
  z-index: 100; }

.ffs-heading {
  position: relative;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
  margin: 1em 0 3em;
  text-align: center; }
  .ffs-heading h1 {
    color: #bf2ed0; }
  .ffs-heading h2 {
    font-size: 36px;
    margin: 0 40px; }
    @media screen and (min-width: 600px) {
      .ffs-heading h2 {
        margin: 0 15%; } }
  .ffs-heading.ffs-fanreel {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
    .ffs-heading.ffs-fanreel img {
      margin: 0 auto 1em; }

.grunge {
  position: absolute;
  background: transparent url(../img/ffs-grunge.png) 0 0;
  height: 100%;
  width: 100%;
  top: -10px;
  left: 0;
  pointer-events: none;
  opacity: .7; }

ul.ffs-quad-grid {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0; }
  ul.ffs-quad-grid::after {
    clear: both;
    content: "";
    display: table; }
  ul.ffs-quad-grid li {
    margin: 0 0 1em;
    padding: 0;
    position: relative;
    overflow: hidden;
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    ul.ffs-quad-grid li:last-child {
      margin-right: 0; }
    @media screen and (max-width: 599px) {
      ul.ffs-quad-grid li:nth-child(even) {
        margin-right: 0; } }
    @media screen and (min-width: 600px) {
      ul.ffs-quad-grid li {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 23.2317613015%; }
        ul.ffs-quad-grid li:last-child {
          margin-right: 0; }
        ul.ffs-quad-grid li:nth-child(4n) {
          margin-right: 0; }
        ul.ffs-quad-grid li:nth-child(4n+1) {
          clear: left; } }
    ul.ffs-quad-grid li a {
      position: relative;
      display: block;
      height: 100%; }
      ul.ffs-quad-grid li a h4 {
        color: #bf2ed0; }
    ul.ffs-quad-grid li img {
      display: block;
      position: relative; }
    ul.ffs-quad-grid li h4 {
      margin: .5em 0;
      text-align: center; }
    ul.ffs-quad-grid li .ffs-overlay {
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      @media screen and (min-width: 769px) {
        ul.ffs-quad-grid li .ffs-overlay {
          position: absolute;
          top: 0;
          left: 0;
          color: #fff;
          background: rgba(16, 12, 163, 0.7);
          height: 100%;
          width: 100%;
          opacity: 0; } }
      ul.ffs-quad-grid li .ffs-overlay:hover {
        opacity: 1; }
      ul.ffs-quad-grid li .ffs-overlay h3 {
        margin: .5em 0;
        font-size: 20px !important;
        text-align: center; }
        @media screen and (min-width: 769px) {
          ul.ffs-quad-grid li .ffs-overlay h3 {
            margin: 0;
            padding: 0;
            font-size: 32px !important; } }

@media screen and (min-width: 769px) {
  .ffs-tableize {
    display: table;
    height: 100%; }
    .ffs-tableize .ffs-tablecell {
      display: table-cell;
      vertical-align: middle; } }
#ffs-footer {
  margin: 20px;
  padding: 20px 0;
  text-align: center; }
  #ffs-footer h3 {
    color: #100ca3; }

nav#ffs-menu {
  font-family: Caferus;
  border-top: solid 2px #100ca3; }
  nav#ffs-menu::after {
    clear: both;
    content: "";
    display: table; }
  nav#ffs-menu ul {
    margin: 0;
    padding: 0; }
    nav#ffs-menu ul::after {
      clear: both;
      content: "";
      display: table; }
  nav#ffs-menu li {
    display: block;
    float: left;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    nav#ffs-menu li.selected, nav#ffs-menu li:hover {
      background: #100ca3; }
      nav#ffs-menu li.selected a, nav#ffs-menu li:hover a {
        color: #fff; }
  nav#ffs-menu a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    padding: 5px 10px;
    color: #7f7f7f; }

.ffs-curalate-upload {
  padding: 20px; }
  .ffs-curalate-upload h3 {
    color: #100ca3; }

.ffs-logo-drop {
  position: absolute;
  top: -5px;
  left: 40px;
  height: 30px !important;
  width: auto;
  display: none; }
  .ffs-logo-drop.visible {
    display: block; }
  @media screen and (min-width: 599px) {
    .ffs-logo-drop {
      height: 60px !important;
      left: 12%; } }

#ffs-footer {
  font-size: 12px; }
